{% extends "base.html" %}

{% block content %}
<div class="hook">
    <div><span class="semi-bold">Qtile</span> is a full-featured, hackable
    tiling window manager written in <a href="http://www.python.org/">Python</a>.</div>
    <div class="semi-bold faded"></div>
</div>

<div class="split">
    <div class="left narrow">
        <p>
            <a href="/screenshots/">
                <img src="/static/img/screenshots/demo-frontpage.png" alt="demo" />
            </a>
        </p>
    </div>
    <div class="right wide">
        <p><span class="semi-bold">Qtile is simple, small, and extensible.</span>
        It's easy to write your own layouts, widgets, and built-in commands.</p>

        <p><span class="semi-bold">Qtile is written and configured entirely in Python</span>,
        which means you can leverage the full power and flexibility of the language
        to make it fit your needs.</p>

        <p><span class="semi-bold">The Qtile community is active and growing</span>,
        so there's always someone to lend a hand when you need help.</p>

        <p><span class="semi-bold">Qtile is free and open-source software</span>,
        distributed under the permissive <a href="http://docs.qtile.org/en/latest/manual/license.html">MIT license</a>.</p>
    </div>
</div>

<div class="split">
    <div class="left">
        <h2>The Qtile Community</h2>
        <ul id="community">
            <li>
                <h3><a href="irc://irc.oftc.net:6667/qtile">IRC Channel</a></h3>
                <div><span class="semi-bold">#qtile</span> on the OFTC network</div>
            </li>
            <li>
                <h3><a href="https://groups.google.com/group/qtile-dev">Mailing List</a></h3>
                <div><span class="semi-bold">qtile-dev</span> on Google Groups</div>
            </li>
            <li>
                <h3><a href="https://twitter.com/qtile">Twitter</a></h3>
                <div><span class="semi-bold">@qtile</span> on Twitter</div>
            </li>
        </ul>
    </div>
    <div class="right">
        <h2>Get Involved!</h2>
        <ul id="get-involved">
            <li>
                <h3><a href="https://github.com/qtile/qtile/issues">Issue Tracker</a></h3>
                <span>Report bugs, request new features</span>
            </li>
            <li>
                <h3><a href="http://docs.qtile.org/en/latest/manual/hacking.html">Hacking Qtile</a></h3>
                <span>How to get started hacking on the code</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
