{% extends "base.html" %}

{% block title %}Screenshots{% endblock %}

{% block content %}
<div class="hook">
    <div>A collection of screenshots.</div>
</div>

<ul id="screenshots">
    <li>
        <a href="/static/img/screenshots/aeronotix.jpg">
            <img src="/static/img/screenshots/aeronotix-thumbnail.jpg" alt="AeroNotix" />
        </a> <br />
        <a href="https://github.com/qtile/qtile-examples/blob/master/user-configs/aeronotix.py">[config]</a>
    </li>
    <li>
        <a href="/static/img/screenshots/cjbarnes18.jpg">
            <img src="/static/img/screenshots/cjbarnes18-thumbnail.jpg" alt="cjbarnes18" />
        </a> <br />
        <a href="https://github.com/qtile/qtile-examples/tree/master/user-configs/cjbarnes">[config]</a>
    </li>
    <li>
        <a href="/static/img/screenshots/dmpayton.png">
            <img src="/static/img/screenshots/dmpayton-thumbnail.png" alt="dmpayton" />
        </a> <br />
        <a href="https://github.com/dmpayton/dotfiles/blob/master/qtile/config.py">[config]</a>
    </li>
    <li>
        <a href="/static/img/screenshots/ldlework.png">
            <img src="/static/img/screenshots/ldlework-thumbnail.png" alt="ldlework" />
        </a> <br />
        <a href="https://github.com/dustinlacewell/dustinlacewell-dotfiles/tree/master/qtile">[config]</a>
    </li>
    <li>
        <a href="/static/img/screenshots/rxcomm.png">
            <img src="/static/img/screenshots/rxcomm-thumbnail.png" alt="ldlework" />
        </a> <br />
        <a href="https://github.com/qtile/qtile-examples/blob/master/user-configs/rxcomm/config.py.dx">[config]</a>
    </li>
    <li>
        <a href="/static/img/screenshots/demo.png">
            <img src="/static/img/screenshots/demo-thumbnail.png" alt="demo" />
        </a>
    </li>
</ul>
{% endblock %}
