{% extends "base.html" %}

{% block content %}

<div class="hook">
    <p><strong>Qtile</strong> is backed by a small but dedicated community.</p>
</div>

<div class="split">
    <div class="left">
        <h2>Community</h2>
        <ul>
            <li><a href="#">#qtile IRC channel</a> -- chat with other Qtile users</li>
            <li><a href="#">qtile-dev</a> -- mailing list for help and anouncements</li>
        </ul>
    </div>
    <div class="right">
        <h2>Get Involved</h2>
        <ul>
            <li><a href="#">Grab the code</a></li>
        </ul>
    </div>
</div>

{% endblock %}
